@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

html {
  font-family: 'Shippori Antique B1', sans-serif;
}

#wrap {
  position: absolute;
  display: none;
  width: 16%;

  left: 42%;
  bottom: 1%;

  color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.65));

  /* transition: 0.5s;	 */
  /* -webkit-animation-name: fadeOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; */
  z-index: 1;
  background-color: rgba(20, 20, 20, 0.6);
  background-size: 400% 400%;
  background-position: 100% 100%;
  opacity: 0.875;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#logo {
  width: 64px !important;
  height: 64px !important;
  max-width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

p {
  font-size: 1.05vw;
}

.header {
  padding-top: 10px;
  font-weight: normal;
  opacity: 1;
  height: 3vw;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  background-size: 300% 300%;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.tekstHeader {
  padding-top: 5px;
  padding-bottom: 10px;
  background-position: 95% 70%;
  background-size: 12.5% 80%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  z-index: 1;
}

.stopka {
  font-weight: normal;
  opacity: 1;
  height: 0.9vw;
  font-size: 0.55vw;
  text-align: center;
  width: auto;
  background: rgba(0, 0, 0, 0.4);
  background-size: 300% 300%;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tekstStopka {
  position: relative;
  font-weight: normal;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sluzby {
  color: white;
  font-size: 0.8vw;
  border-color: rgba(0, 0, 0, 0.4);
}

.jobs {
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 3vw;
  width: 100%;
}

table {
  text-align: left;
  color: white;
}

th,
td {
  padding-left: 25px;
}

th {
  padding-top: 10px;
  height: 40px;
}

tr {
  font-size: 0.9vw;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

tr.heading {
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.9);
}

.serverinfo {
  font-size: 0.7vw;
  text-align: center;
}

#bord {
  background-color: #fff;
  margin-left: 5.5%;
  margin-right: 5.5%;
  padding-bottom: 1px;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
.progress {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 90%;
  height: 1.3%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.progress div {
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(18, 105, 202),
    rgb(0, 242, 96)
  );
  border-radius: 10px;
}

.tekstInfo {
  position: absolute;
  font-weight: normal;
  margin-top: 1px;
  opacity: 1;
  color: white;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

@-webkit-keyframes GradientAnim {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
@-moz-keyframes GradientAnim {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
@keyframes GradientAnim {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
